<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Budget PLanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>New expense</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
              <ion-item>
                <ion-label position="floating" color="tertiary">Expense reason</ion-label>
                <ion-input type="text" formControlName="reason"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating" color="tertiary">Expense amount</ion-label>
                <ion-input type="number" formControlName="amount"></ion-input>
              </ion-item>
              
              <div class="ion-margin-vertical ion-text-right">
                <ion-button size="small" class="btn" fill="outline" color="danger" class="ion-text-uppercase" (click)="reset()">
                  <ion-icon slot="start" name="close-circle-outline"></ion-icon>
                  Clear
                </ion-button>
                
                <ion-button type="submit" size="small" class="btn" color="secondary" class="ion-text-uppercase">
                  <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
                  Add Expense
                </ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Expenses:
            </ion-card-title>
          </ion-card-header>

          <ion-card-content *ngIf="expences">
            
            <ion-list>
              <ion-item *ngFor="let expence of expences">
                <h2>Reason: {{ expence.reason }}</h2>
                <hr>
                <h2>Amount: {{ expence.amount }}</h2>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<!-- 1:38 -->